@import "neo-quote-quote";
@import "neo-quote-danger";
@import "neo-quote-warning";
@import "neo-quote-info";

:root[data-theme="light"] {
    --neo-quote-pre-bg: black;
    --neo-quote-code-bg: black;
    --neo-quote-code-color: lightgreen;
}

:root[data-theme="dark"] {
    --neo-quote-pre-bg: black;
    --neo-quote-code-bg: black;
    --neo-quote-code-color: lime;
}

.neo-quote {
    margin: 2rem 0.5rem;
    display: flex;

    .neo-quote-edge-left {
        min-width: .5rem;
    }
    
    .neo-quote-content {
        display: block;
        width: 100%;
        flex-direction: column;

        .neo-quote-content_inner {
            margin: 0.5rem 1.5rem;
    
            p {
                display: flex;
                overflow-wrap: break-word;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Helvetica, sans-serif;
                font-size: 1.125rem;
            }

            .neo-quote-head {
                display: flex;
                flex-direction: row;
                align-items: center;

                .neo-quote-icon {
                    min-width: 2rem;
                }
            }

            .neo-quote-title p {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.2rem;
            }

            pre {
                background-color: var(--neo-quote-pre-bg);
            }

            code {
                color: var(--neo-quote-code-color);
                background-color: var(--neo-quote-code-bg);
            }
        }
    }
}
