div.pagination-related {
  display: flex;
  flex-direction: column;
  width: 100%;

  // TODO: Refactor this into proper file
  .pagination__title {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

div.posts-related-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  .post-related {
    &:hover {
      scale: 1.015;
    }

    a {
      text-decoration: none;
    }

    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 45%;

    background-color: thistle;
    // background-color: palevioletred;
    color: black;
    padding: .75rem;

    .post-related-date {
      margin: .5rem 0;
      display: none;
    }

    .post-related-title {
      font-weight: bold;
      font-size: large;
      height: 6.5rem;
    }

    .post-related-cover {
      min-width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 900px) {
  div.posts-related-container {
    flex-direction: column;
    align-items: center;

    .post-related {
      width: 90%;

      .post-related-title {
        height: fit-content;
      }
    }
  }
}
