{{ if .Get "text" }}
    <div class="neo-quote neo-quote-warning">
        <div class="neo-quote-edge-left"></div>
        <div class="neo-quote-content">
            <div class="neo-quote-content_inner">
                <div class="neo-quote-title">
                    <p>
                        {{ if .Get "title" }}
                            {{ .Get "title" | markdownify }}
                        {{ else }}
                            Warning
                        {{ end }}
                    </p>
                </div>
                <div class="neo-quote-text">
                    <p>{{ .Get "text" | markdownify }}</p>
                </div>
            </div>
        </div>
    </div>
{{ end }}