:root {
    --comment-reply-background-light: whitesmoke;
    --comment-reply-background-dark: rgb(50, 51, 52);
}

h2.comment-title {
    display: flex;
    font-weight: 800;
    font-size: 1.75rem;
}

section#comments {
    max-width: 100vw;
    overflow: hidden;
}

div#comment-status {
    display: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: -1.5rem;
    max-width: 90%;
}

div#comment-progress {
    width: 90%;
    display: none;
    margin: 0 auto;
}

.post-comment {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    padding: 1.5rem;
    border-color: grey;
    border-style: solid;
    border-width: .15rem;
    margin: 0 auto;
}

.post-comment-reply {
    margin-top: 0;
    border-top: none;

    [data-theme=dark] & {
        background-color: var(--comment-reply-background-dark);
    }

    [data-theme=light] & {
        background-color: var(--comment-reply-background-light);
    }
}

.post-comment-dot {
    border-radius: 50%;
    height: .25rem;
    width: .25rem;
    background-color: grey;
    margin: .2rem 0;
}

.post-comment-permalink {
    display: flex;
    flex-direction: row;
    float: right;
    cursor: pointer;
}

.post-comment-permalink-dropdown {
    visibility: hidden;
    height: 0;
    width: 0;
}

.post-comment-permalink:focus .post-comment-permalink-dropdown {
    visibility: visible;
    width: fit-content;
    margin-right: .75rem;
}

.post-comment-permalink-dropdown a {
    color: rgb(30, 174, 219)
}

.post-comment-header {
   display: flex;
}

.post-comment-avatar-wrapper {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-comment-avatar-pic {
    margin: 0;
    border-radius: 50%;
    border-color: grey;
    border-style: solid;
    border-width: .2rem;
    padding: .05rem;
    transition: transform 0.6s;
}

.avatar-pic-admin {
    border-color: limegreen;
}

.post-comment-avatar-text {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-comment-avatar-wrapper:hover .post-comment-avatar-pic {
    transition: 1s;
    transform: rotateY(180deg);
}

.post-comment-avatar-wrapper:hover .post-comment-avatar-text {
    visibility: visible;
    opacity: 1.0;
    translate: 0 -6.3rem;
    text-transform: capitalize;
    font-weight: 700;
    transition: .9s;
}

.post-comment-info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.post-comment-author {
    margin: .5rem 0;
    display: flex;
    align-items: center;
}

.post-comment-author span {
    font-weight: bold;
    font-size: large;
}

.post-comment-author-reply-new {
    margin-right: .4rem;
}

.post-comment-author-reply-previous {
    margin-left: .4rem;
}

.post-comment-date {
    font-style: italic;
    font-size: small;
}

.post-comment-message {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    word-wrap: break-word;
}

.post-comment-message code {
    background-color: black;
    color: limegreen;
    /* color: darkorange; */
}

.post-comment-message div.highlight {
    max-width: 100%;
}

.post-comment-footer {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0;
}

.post-comment-indent {
    margin-left: 2.75rem;
}

.post-comment-form {
    display: flex;
    flex-direction: column;
    margin: 2.5rem auto .5rem auto;
    max-width: 45vw;
}

@media screen and (max-width: 1400px) {
    .post-comment-form {
      max-width: 50vw;
    }
  }
  
@media screen and (max-width: 1200px) {
    .post-comment-form {
        max-width: 60vw;
    }
}

@media screen and (max-width: 900px) {
    .post-comment-form {
        max-width: 85vw;
    }

    h2.comment-title {
        margin-top: -.1rem;
    }
}

.post-comment-form input {
    margin: 0.5rem 0;
    padding: 1rem;
}

.post-comment-form textarea {
    margin: 0.5rem 0;
    padding: 1rem;
    resize: vertical;
}

@media screen and (max-width: 750px) {
    .post-comment {
        max-width: 85vw;
        min-width: 85vw;
    }

    .post-comment-header {
        flex-direction: column;
        text-align: center;
        margin-top: 1.25rem;
    }

    .post-comment-info {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .post-comment-avatar-wrapper {
        margin-bottom: 1rem;
    }

    .post-comment-footer {
        flex-direction: column;
        align-items: center;
    }

    .post-comment-reply_btn button {
        padding: .5rem 3rem;
    }

    .post-comment-indent {
        margin-left: 0;
    }
}