<section id="comments">
    <div class="pagination__title">
        <span class="pagination__title-h">Comments</span>
        <hr />
    </div>

    <div class="post-comments">
        <h2 class="comment-title"><a href="#comments">Comments</a></h2>

        {{ $comments := readDir "data/comments" }}
        {{ $.Scratch.Add "hasComments" 0 }}
        {{ $postSlug := replace .File.Dir "posts/" "" }}
        {{ $postSlug := replace $postSlug "/" "" }}

        {{ range $comments }}
            {{ if in $postSlug .Name }}
                {{ $.Scratch.Add "hasComments" 1 }}
                {{ range $index, $comments := (index $.Site.Data.comments $postSlug ) }}
                        
                    {{ if not .reply_to }}
                        <div id="commentid-{{ ._id }}" class="post-comment">

                            <div class="post-comment-permalink-wrapper">
                                <div class="post-comment-permalink" tabindex="1">
                                    <div class="post-comment-permalink-dropdown">
                                        <a href="#commentid-{{ ._id }}" title="Permalink to this comment">Permalink to comment</a>
                                    </div>
                                    <div class="post-comment-dots">
                                        <div class="post-comment-dot"></div>
                                        <div class="post-comment-dot"></div>
                                        <div class="post-comment-dot"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="post-comment-header">
                                <div class="post-comment-avatar-wrapper">
                                    {{ if eq .email "ba9aea05fec978920e463180dcf103a6" }}
                                        <img class="post-comment-avatar-pic avatar-pic-admin" loading="lazy" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon" alt="">
                                        <div class="post-comment-avatar-text">
                                            <code>ADMIN</code>
                                        </div>
                                    {{ else }}
                                        <img class="post-comment-avatar-pic" loading="lazy" src="https://www.gravatar.com/avatar/{{ .email }}?s=70&r=pg&d=identicon" alt="">
                                        <div class="post-comment-avatar-text">
                                            <code>GUEST</code>
                                        </div>
                                    {{ end }}
                                </div>

                                <div class="post-comment-info">
                                    <div class="post-comment-author">
                                        <span>{{ .name }}</span>
                                    </div>
                                    <div class="post-comment-date">
                                        <time>{{ dateFormat "Monday, Jan 2, 2006 at 15:04 MST" .date }}</time>
                                    </div>
                                </div>
                            </div>

                            <div class="post-comment-message">
                                {{ .comment | markdownify }}
                            </div>

                            <div class="post-comment-footer">
                                <div class="post-comment-reply_btn">
                                    <button id="{{ ._id }}" class="btn-info comment-buttons" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">Reply to {{ .name }}</button>
                                </div>
                            </div>

                        </div>
                        
                        {{ partial "comment-replies" (dict "entryId_parent" $postSlug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name     "context" .) }}
                        
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}

        <form id="comment-form" class="post-comment-form" onsubmit="event.preventDefault();">
            {{ if eq ($.Scratch.Get "hasComments") 0 }}
                <p>Be the first to leave a comment! 🎉</p>
            {{ end }}
            <h3 class="prompt">Leave a comment</h3>
            <input type="hidden" name="redirectUrl" value="{{ .Permalink }}#comment-submitted">
            <input type="hidden" name="slug" value="{{ $postSlug }}">
            <input type="text" name="name" class="post-comment-field" placeholder="Name *" required/>
            <input type="email" name="email" id="comment-email" class="post-comment-field" placeholder="Email address (will not be public) *" required/>
            <input type="hidden" name="replyTo" id="comment-parent" value="">
            <textarea name="comment" class="post-comment-field" placeholder="Comment (markdown is accepted) *" required rows="10"></textarea>

            {{ if eq .Site.Params.staticman.EnableReCaptcha "true" }}
                <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.staticman.reCaptchaSiteKey }}">
                <input type="hidden" name="options[reCaptcha][secret]" value="{{ .Site.Params.staticman.reCaptchaEncryptedSecretKey }}">
                <div class="g-recaptcha" style="margin: 0 auto;" data-sitekey="{{ .Site.Params.staticman.reCaptchaSiteKey }}" data-callback="validateCommentCaptcha"></div>
            {{ end }}

            <input id="comment-btn" type="submit" class="post-comment-field btn btn-primary comment-buttons" {{ if eq .Site.Params.staticman.EnableReCaptcha "true" }}disabled="disabled" aria-disabled="true"{{ end }} onclick="submitComment();" value="Submit">

            <noscript>Your browser does not support JavaScript! You can't submit a comment.</noscript>
        </form>

        <div id="comment-status">
            <p id="comment-status-msg">Please wait...</p>
        </div>

        <div id="comment-progress" class="progress progress-infinite">
            <div class="progress-bar3"></div>
        </div>
    </section>

</section>


<script>
    function changeValue(elementName, newValue)
    {
        document.getElementsByName(elementName)[0].value=newValue;
        window.location.hash = "#comment-form";
    }

    {{ if eq .Site.Params.staticman.EnableReCaptcha "true" }}
      function validateCommentCaptcha()
      {
          document.getElementById("comment-btn").disabled = false;
      }
    {{ end }}
</script>

<script>
    async function setCommentStatus(msg) {
        const display = msg.toLowerCase().includes('wait') ? "flex" : "none";
        document.querySelector('#comment-status-msg').innerHTML = msg;
        document.querySelector('#comment-status').style.display = "flex";
        document.querySelector('#comment-progress').style.display = display;
    }

    async function submitComment()
    {
        const form = document.getElementById('comment-form');

        if (!form.reportValidity()) {
            setCommentStatus("The form is incomplete! &#128539;");
            return;
        }

        const formData = new FormData(form);
        // let plainFormData = Object.fromEntries(Array.from(formData.keys()).map(key => [key, formData.getAll(key).length > 1 ? formData.getAll(key) : formData.get(key)]))
        const plainFormData = Object.fromEntries(formData.entries());
	    const formDataJsonString = JSON.stringify(plainFormData);

        // let bodyData = new URLSearchParams(formData); // Old API

        const opts = {
            method: "POST",
            headers: {
                // "Content-Type": "application/x-www-form-urlencoded", // Old API
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: formDataJsonString
        };

        // const endpoint = "{{ .Site.Params.staticman.endpoint }}/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments";
        const endpoint = "{{ .Site.Params.CustomComments.endpoint }}";
    
        setCommentStatus("Please wait...");

        const response = await fetch(endpoint, opts).catch(err => {
            setCommentStatus("Sorry, an error has occured! Please try again later.");
            form.reset();
        });

        if (response.ok)
        {
            const data = await response.json();
            setCommentStatus(data.msg);
        }
        else
        {
            setCommentStatus("Sorry, an error has occured. Please try again later.");
        }
    }
</script>
{{ if eq .Site.Params.staticman.EnableReCaptcha "true" }}
    <script defer src="https://www.google.com/recaptcha/api.js"></script>
{{ end }}