<section id="newsletter">

    <div class="newsletter_outer">
        <div class="newsletter_inner">
            <div class="newsletter_text">
                <h2>Subscribe to TechBlog.dev</h2>
                <p>Don't miss out on quality Linux and Programming tutorials.</p>
                <p>Join for a chance to win goodies and exclusive offers.</p>
                <p>We promise to not spam you, plus our newsletter is 100% <strong>FREE</strong>!</p>
            </div>
        
            <form id="newsletter" action="https://assets.mailerlite.com/jsonp/337077/forms/80741128475772727/subscribe" method="post" target="_blank">
                <input type="email" aria-label="email" aria-required="true" data-inputmask="" name="fields[email]" placeholder="Your email" autocomplete="email" aria-invalid="false" required>
                <input type="submit" value="Subscribe">
            </form>

            <div class="newsletter_text">
                <p>You can unsubscribe anytime.</p>
            </div>
        </div>
    </div>

</section>

